<h3>Post Form</h3>
<form class="post-form">
  <label>Title:
    <input type="text" name="post[title]" value="<%= post.get("title") %>">
  </label>

  <label>Body:
    <input type="text" name="post[body]" value="<%= post.get("body") %>">
  </label>

  <input type="submit">
</form>


